---
import Layout from '../layouts/Layout.astro';
import CardsValues from '../assets/ArraysValues/arr.js'
import cardImagesCDN from '../assets/ArraysValues/arr.js'
import { useEffect, useState } from 'react';

---

<Layout title="Probabilidad - Proyecto">
	<main>
		<div class="relative my-6 flex justify-start items-center">
			<a href="/">
				<svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12l4-4m-4 4 4 4"/>
				</svg>
			</a>
			<h1 class="ml-2 pl-4 text-4xl font-bold" transition:persist="fade">Proyecto de Probabilidad <a class="text-gradient">21 Blackjack</a></h1>
		</div>
		
		<section class="flex justify-center space-x-4">
			<figure class="max-w-lg">
				<img class="max-w-full rounded-lg my-16 object-contain h-48" src="https://deckofcardsapi.com/static/img/back.png" alt="image description">
				<figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Dealer Card</figcaption>
			</figure>
			<figure class="max-w-lg">
				<img class="max-w-full rounded-lg my-16 object-contain h-48" src="https://deckofcardsapi.com/static/img/back.png" alt="image description">
				<figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Dealer Card</figcaption>
			</figure>

			<figure class="max-w-lg">
				<img class="max-w-full rounded-lg my-16 object-contain h-48" src="https://deckofcardsapi.com/static/img/JS.png" alt="image description">
				<figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Player Card: 10</figcaption>
			</figure>
			<figure class="max-w-lg">
				<img class="max-w-full rounded-lg my-16 object-contain h-48" src="https://deckofcardsapi.com/static/img/back.png" alt="image description">
				<figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Player Card</figcaption>
			</figure>
		</section>

		<br>
		<section class="flex justify-center">
			<button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
				<span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
				Tomar otra carta
				</span>
			</button>
			<button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
				<span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
				Quedarse
				</span>
			</button>
			<button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800">
				<span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
				Reiniciar
				</span>
			</button>
		</section>
		<p id="resultado"></p>
		<br>
		<section class="flex flex-col space-y-4 justify-center px-4 sm:px-6 lg:px-8">
			<h2 class="pb-6 font-semibold text-3xl">Estadisticas</h2>
			<a href="#" class="block w-full p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
			  <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">Probabilidad de Blackjack en un saque</h5>
			  <p class="font-normal text-gray-700 dark:text-gray-400">La probabilidad de obtener 21 en el primer saque para ganar es de aproximadamente 4.8%.</p>
			</a>
			<a href="#" class="block w-full p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
			  <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">Probabilidad de fallo</h5>
			  <p class="font-normal text-gray-700 dark:text-gray-400">- Pasarse de 21: --%</p>
			  <p class="font-normal text-gray-700 dark:text-gray-400">- El dealer gana: --%</p>
			  <p class="font-normal text-gray-700 dark:text-gray-400">- Empate: --%</p>
			</a>
			<a href="#" class="block w-full p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
			  <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">Obtener una carta de valor 10</h5>
			  <p class="font-normal text-gray-700 dark:text-gray-400">(10, J, Q, K) como la primera carta: --%</p>
			</a>
			<a href="#" class="block w-full p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
			  <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
			  <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
			</a>
		  </section>
		  
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem 1rem;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 16px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	/* src/styles/Deck.css */
	.deck {
		border: 1px solid #ddd;
		padding: 10px;
		width: 200px;
	}

	.cards {
		margin-top: 10px;
	}

	.card {
		border: 1px solid #ccc;
		padding: 5px;
		margin-bottom: 5px;
		background: #f9f9f9;
	}


</style>
