---
// Supports weights 100-900
import '@fontsource-variable/onest';
import { ViewTransitions } from 'astro:transitions';
import Footer from '../components/footer.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<div class="fixed top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
    --accent: 58, 136, 234; /* Un tono azul suave */
    --accent-light: 204, 230, 250; /* Un tono azul claro */
    --accent-dark: 10, 49, 101; /* Un tono azul oscuro */
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
    );
}
	html {
		font-family: 'Onest Variable', system-ui;
		background: #13151a;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
